---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { fetchAppsScreensCount } from '../helpers';
import { getCollection } from 'astro:content';
import { AppCategory } from 'src/types';

const apps = fetchAppsScreensCount(await getCollection('apps'), await getCollection('screens'));
const categories = Object.values(AppCategory);
---

<Layout>
	{categories.map((category) => (
		<h2 class="font-semibold text-2xl mb-2 font-heading tracking-tighter">{category}</h2>

		<div class="grid grid-cols-4 gap-5">
			{apps.filter((app) => app.category === category).map((item) => (
				<Card
					title={item.title}
					subtitle={item.screensCount + ' screens'}
					href={'/apps/' + item.id}
					image={item.image.src} />
			))}
		</div>
	))}
</Layout>
