---
interface Props {
	title: string;
	subtitle: string;
	image: string;
	href: string;
	tag?: string;
}

const { title, subtitle, image, href, tag } = Astro.props;
---
<a href={href} class="block group bg-white border-2 border-pastel-black relative after:w-[calc(100%+6px)] after:h-[calc(100%+6px)] after:absolute after:-bottom-4 after:-right-4 after:-z-10 after:bg-pastel-red mr-4 mb-4">
	{tag && (
		<div class="absolute right-2 top-2">
			<div class="px-2 py-1 bg-pastel-green text-xs font-semibold rounded-xl">Social</div>
		</div>
	)}

	<img src={image} class="object-cover border-b-2 border-pastel-black" alt={title + ' thumbnail'} />

	<div class="p-2 group-hover:underline underline-offset-2 decoration-2 decoration-pastel-purple">
		<h3 class="text-lg font-semibold font-heading tracking-[-0.15rem]">{title}</h3>
		<p class="text-sm text-pastel-black/60">{subtitle}</p>
	</div>
</a>