---
import Navbar from '../components/Navbar.astro';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title ? `${title} | App UI Database` : 'App UI Database - Collection of mobile and desktop apps screens'}</title>
		<meta name="description" content="Collection of mobile and desktop apps screens for inspiration and reference">
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=lexend-mega:700|public-sans:400,600,700" rel="stylesheet" />
		<style is:global>
			.lum-lightbox {
				z-index: 11;
				@apply bg-pastel-black/90;
			}

			.lum-img {
				display: initial;
				vertical-align: initial;
				@apply border-4;
			}
		</style>
	</head>
	<body class="text-pastel-black bg-slate-50 font-body">
		<Navbar />

		<div class="container mx-auto py-10">
			<slot />
		</div>
	</body>
</html>
