---
import Navbar from '../components/Navbar.astro';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title ? `${title} | App UI Database` : 'App UI Database - Collection of desktop apps components'}</title>
		<meta name="description" content="Collection of desktop apps components for inspiration and reference">
		<meta name="generator" content={Astro.generator} />

		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

		<script defer data-domain="appuidatabase.com" src="https://plausible.io/js/script.js"></script>

		<link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=lexend-mega:700|public-sans:400,600,700" rel="stylesheet" />
		<style is:global>
			.lum-lightbox {
				z-index: 11;
				@apply bg-pastel-black/90;
			}

			.lum-img {
				display: initial;
				vertical-align: initial;
				@apply border-4;
			}
		</style>
	</head>
	<body class="text-pastel-black bg-slate-50 font-body">
		<Navbar isHome={!title} />

		<div class="container px-4 md:px-0 mx-auto py-10">
			<slot />
		</div>

		<footer class="py-4 px-4 bg-pastel-black text-white text-xs">
			Screenshots' intellectual property belongs to their owner.
			Made in public and Open Source on <a href="https://github.com/danilopolani/appuidatabase.com" target="_blank">GitHub</a> by <a href="https://twitter.com/theraloss" target="_blank">Danilo Polani</a>.
		</footer>
	</body>
</html>
